@import 'utilities/index';
@import 'nav';
@import 'login';


.container {
  // background-color: blue;
}

body {
  background-color: #fff;
}


table {
  font-family: 'Prohibition';
  font-style: italic;
  background-color: $off_white;

  thead {
    tr {
      background-color: $dark_blue;
      color: #fff;
      height: 50px;

      th {
        font-size: 28px;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      height: 67px;
      border: none;
      td {
        position: relative;
        text-align: center;
        min-width: 70px;
        padding-top: 10px;
        font-size: 0.7em;
        transition: all 1s ease;
        border-top: none;
        vertical-align: baseline;
        cursor: pointer;
        transition: all 300ms ease;



        &:first-of-type {
          font-size: 1.5em;
          width: 9em;
        }

        &.unavailable {
          cursor: default;
          color: gray;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $gray;
            opacity: 0.9;
          }

        }

        &.active {
          font-weight: 900;
          cursor: pointer;
          background-color: $pink;
          color: #fff;
          box-shadow: 2px 2px 2px $black;

          &:before {
            background-color: transparent;
          }
        }

      }
      // &.california {
      //   td:first-of-type {
      //     background-position-x: -118px;
      //     background-position-y: -113px;
      //   }
      // }

      // &.oregon {
      //   td:first-of-type {
      //     background-position-x: -439px;
      //     background-position-y: -22px;
      //   }
      // }

      // &.oregon-st {
      //   td:first-of-type {
      //     background-position-x: -547px;
      //     background-position-y: -22px;
      //   }
      // }

      // &.stanford {
      //   td:first-of-type {
      //     background-position-x: -12px;
      //     background-position-y: -113px;
      //   }
      // }

      // &.washington {
      //   td:first-of-type {
      //     background-position-x: -234px;
      //     background-position-y: -17px;
      //   }
      // }

      // &.washington-st {
      //   td:first-of-type {
      //     background-position-x: -336px;
      //     background-position-y: -17px;
      //   }
      // }

      // &.arizona {
      //   td:first-of-type {
      //     background-position-x: -453px;
      //     background-position-y: -113px;
      //   }
      // }

      // &.arizona-st {
      //   td:first-of-type {
      //     background-position-x: -547px;
      //     background-position-y: -113px;
      //   }
      // }

      // &.colorado {
      //   td:first-of-type {
      //     background-position-x: -127px;
      //     background-position-y: -17px;
      //   }
      // }

      // &.ucla {
      //   td:first-of-type {
      //     background-position-x: -340px;
      //     background-position-y: -113px;
      //   }
      // }

      // &.usc {
      //   td:first-of-type {
      //     background-position-x: -229px;
      //     background-position-y: -110px;
      //   }
      // }

      // &.utah {
      //   td:first-of-type {
      //     background-position-x: -13px;
      //     background-position-y: -19px;
      //   }
      // }

    }

  }
}
