body {
  font-family: 'Factoria';
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Prohibition';
}

.navbar.navbar {
  font-family: 'Prohibition';
  background-color: #004B91;
}
.navbar.navbar .navbar-header .navbar-brand {
  font-size: 32px;
}

body {
  background-color: #fff;
}

table {
  font-family: 'Prohibition';
  font-style: italic;
  background-color: #FBFEF9;
}
table thead tr {
  background-color: #00274D;
  color: #fff;
  height: 50px;
}
table thead tr th {
  font-size: 28px;
  text-align: center;
}
table tbody tr {
  height: 67px;
  border: none;
}
table tbody tr td {
  text-align: center;
  min-width: 70px;
  padding-top: 10px;
  font-size: 0.7em;
  color: gray;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  border-top: none;
}
table tbody tr td:first-of-type {
  font-size: 1.5em;
  color: #000007;
  vertical-align: middle;
  width: 9em;
}
table tbody tr td:hover {
  cursor: not-allowed;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
table tbody tr td.available {
  cursor: pointer;
  color: black;
}
table tbody tr td.active {
  font-weight: 900;
  cursor: pointer;
  color: black;
}
