<table class="">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat="team in teams" class="{{team.slug}}">
      <td>{{team.$id}}</td>
      <td ng-repeat="game in team.schedule" ng-class="{active: game.selected, available: game.available && !team.chosen}" ng-click="column(teams, game); select(team, teams, game)">{{game.opponent}}</td>
      <!-- <td ng-repeat="game in games">{{games[$index][$parent.$index].awayteam}}</td> -->

    </tr>
  </tbody>
</table>
<!-- ng-click="game.selected = !game.selected; team.chosen = !team.chosen" -->
