<div class="deadline">
  <h4>Next deadline: Tuesday at midnight PST</h4>
</div>

<table class="">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in teams" class="{{team.slug}}">
      <td>{{team.$id}}</td>
      <!-- unavailable if picks[user] includes team OR picks[user] includes game.week -->
      <!-- <td ng-repeat="game in team.schedule" ng-class="{active: game.selected, unavailable: !game.selected && team.chosen || !game.available}" ng-click="select(team, teams, game)">{{game.opponent}}</td> -->
      <td ng-repeat="game in team.schedule" ng-class="{active: pickedGame(team, game), unavailable: pickedWeek(game.week) || pickedTeam(team) || game.unavailable && !game.selected}" ng-click="select(team, teams, game)">{{game.opponent}} - {{game.selected}}</td>
    </tr>
  </tbody>
</table>
